tr > td {
    padding: 1rem;
}

div#bodyDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 90%);
    color: rgb(255, 131, 0);
}

th {
    border: 1px solid black;
}

.bg-circle {

    background-blend-mode: multiply;
    height: 135vh;
    width: 135vh;
    position: absolute;
    z-index: -4;
}

.right-corner {
    background: linear-gradient(
            90deg, #979fa6, #196bbe, #8a171700);
    clip-path: circle(35% at 70rem);
}

.left-corner {
    background: linear-gradient(
            270deg, #979fa6, #196bbe, #8a171700);
    clip-path: circle(25% at 0 75%);
}

canvas {
    position: absolute;
    z-index: -5;
}

.blob {
    /*border-radius: 50%;*/
    /*margin: 10px;*/
    /*height: 20px;*/
    /*width: 20px;*/

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

#progress-bar-target-diff {
    margin: 2rem;
    margin-top: 0.7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 10%;
    width: 80%;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
}

.progress-bar {
    color: #f5f5f5;
    align-items: flex-start;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.progress-bar-container {
    width: 90%;
    padding: 0.5rem 1rem;
    margin: 1rem 2rem;
    border-radius: 1rem 0;
    border-left: 1px black solid;
    border-top: 1px black solid;
    box-shadow: 0 0.5rem 0.5rem;
}

.progress-bar-container > label {
    color: #242424;
}

.progress-bar-container:first-child {
    margin-top: 2rem;
}

.progress-bar-container:last-child {
    margin-bottom: 2rem;
}